:root {
  --step--2: clamp(0.78rem, 0.65rem + 0.66vw, 1.12rem);
  --step--1: clamp(0.94rem, 0.76rem + 0.90vw, 1.40rem);
  --step-0: clamp(1.13rem, 0.88rem + 1.22vw, 1.75rem);
  --step-1: clamp(1.35rem, 1.02rem + 1.63vw, 2.19rem);
  --step-2: clamp(1.62rem, 1.19rem + 2.17vw, 2.73rem);
  --step-3: clamp(1.94rem, 1.37rem + 2.88vw, 3.42rem);
  --step-4: clamp(2.33rem, 1.58rem + 3.79vw, 4.27rem);
  --step-5: clamp(2.80rem, 1.81rem + 4.96vw, 5.34rem);
  --step-6: clamp(3.27rem, 2.04rem + 4.22vw, 6.41rem);
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
font-size: var(--step-0);
  scroll-behavior: smooth;
position: relative;
  padding: 0;
  margin: 0;
  margin: auto auto;
 
}

#home {
  background-color: #BAD894;
}

#about {
  background-color: #fae276;
}

#contact {
  background-color: #ccecf1;
}

#services {
  background-color: #e2e1e1;
}



section{
  width:min(90%,1200px);
  margin-inline: auto;
position: relative;
  display: flex;
 height: calc(100vh - 90px);
 justify-content: center;
 flex-wrap:wrap;
}
.sec{
  padding:4em 0;
 
}





/* .sec  .p {
  position: absolute;
 left: -250px;
 top: 50%;
height: 20vh;
 transform: rotate(270deg);
 font-size: var(--step-4);
 

} */



.label{
position: absolute;
margin-top: 8em;
 

}
.label ul{
  width: 15vw;
  text-decoration: none;
list-style-type: none;
margin: 0 ;
padding: 0;

}
.label ul li {
  height: calc(100vh - 90px);
display: flex;
align-items: center;
justify-content: center;
margin: 0 ;
padding: 0;
}

.label ul li p {
  transform: rotate(270deg);
  font-size: var(--step-6);
  margin: 0 ;
padding: 0;
font-weight: 1000;
  
}




.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1em;
  flex-wrap: wrap;
  position: relative;

}

.hero-container .unit{

  display: flex;
  justify-content: center;
 position: sticky;
  }
  


.hero-container .unit .unit-container{
width:80%;
display: flex;
justify-content: center;
align-items: baseline;
justify-content: space-between;



}

.hero-container .unit .unit-container > div{
display: flex;
justify-content: center;

}
.hero-container .unit .unit-container .tab{
 margin-right: 1rem;

  
  }

.hero-container .unit .unit-container div > img{


  width: 90%;
 


}



.hero-container .hero-text{
flex: 1;

}

.hero-container .hero-text h1{
  font-size:clamp(3rem,5vw + 1rem,5rem);
  line-height:1;
  width: 80%;
  font-weight: 800;
  color: #404040;
  
}
.hero-container .hero-details{
  flex: 1;
  position: absolute;
  left: 50%;
  top: 40%;
}

.hero-container .hero-details p{

  
position: sticky;
  width: 100%;
  
}



.hero-container .hero-text .btn {
  margin-inline:auto;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  padding:max(3vh,1rem) ;
  width:min(70%,200px);
  
  border: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#202020));
  background: linear-gradient(180deg, #282828, #202020);
  -webkit-box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -5px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
          box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -5px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  margin-top:2rem ;
  margin-left: 1rem;



}




.hero-container .hero-text .btn i {
  position: relative;
  color: #d1d3ce;
  font-style: normal;
font-size: var(--step-0);
 
}

.hero-container .hero-text .btn::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#232323), to(#4a4a4a));
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}


.services-section{
  height: 100%;
}

.services-container{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
width: 100%;
gap: 1rem;
padding: 0 1rem;


}

.services-container .service-img{
grid-column: 1/2;
grid-row: 1/3;
}

.services-container svg {
  width: 100%;
  height: 100%;
  
}

.services-container .service-tag{
  font-size: var(--step--1);
font-weight: 800;
color:#2F2E41 ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

 
}

.services-container .service-tag .pricing{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.services-container .service-tag .pricing h4{
  font-size: var(--step-4);
}
.services-container .service-tag .pricing p {
  font-size: var(--step--2);
}
.services-container .service-tag .pricing p span {
  font-size: var(--step-1);
}
.services-container .service-tag .pricing .include {
  font-size: var(--step--2);
 margin-left: auto;
 width: 80%;
 opacity: .5;
 font-weight: 600;

}

.services-container .service-tag ul{
  list-style: none;
}

.services-container .service-tag ul li p{
 margin: 0;
 }
.services-container .service-tag .imgbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.services-container .service-tag .imgbox img{
width: 100px;
height: 100px;
}
.services-container .grid3 .imgbox img{
width: 70px;
height: 80px;
}

.services-container .service-tag ul li p{
  font-size: var(--step--2);
  font-weight: 400;
}


.services-container .grid0{
  grid-column: 1/2;
  grid-row: 1/3;

}
.services-container .grid1{
  grid-column: 2/3;
}
.services-container .grid2{
  grid-column: 3/4;
  grid-row: 1/3;

}
.services-container .grid3{
grid-column: 2/3 ;
grid-row:2/3 ;
}
.services-container .grid4{
grid-column: 1/4;
height: 250px;
padding: 1rem;
}
.services-container .grid4 .services-footer {
display: flex;
justify-content: space-between;
}
.services-container .grid4 .services-footer .services-card{
width: 33%;
height: 150px;
}





.about-container{
  
display: flex;
align-items: center;
justify-content: center;
  width: 90%;
  font-size: var(--step--1);

}
.about-logo{
  flex: 1;

}
.logo{
  width:80%;
  height: 50%;
  shape-outside: url(image/logo.png);

  padding-right: 1em;
  transform: rotate(-12deg);

}

.about-text{
  flex: 1;
  text-align: justify;
}

.map{
  width: 90%;
  height: 300px;
  border-radius: .5em;
 
}




/* contact form */



.contact-container{
  display: flex;
  width: 90%;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.me{
  height: 100%;
  display: flex;
  align-items: center;
}

.me .social{
  display: flex;
color: #3E3E3E;
 height: 50%;
  display: flex;
flex-direction: column;
justify-content: space-between;
}

.me .social i {
  font-size: var(--step-1);
}

.me .social i a{
  font-size: var(--step--2);
 text-decoration: none;
 color: rgba(0, 0, 0, .4);
 margin-left: 1rem;
 vertical-align: middle;
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
 letter-spacing: 1px;
}



 button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
flex: 1;
cursor: pointer;

}



.contact-box{
  width: 100%;

}


.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  height: 100%;
  
}



.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #CCECF1;
}

.screen-header-button.maximize {
  background: #BAD894;
}

.screen-header-button.minimize {
  background: #FAE276;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  padding: 1rem;
justify-content: space-between;
}

.screen-body-item {
  width: 60%;
 display: flex;
 flex-direction: column;
 height: auto;
 justify-content: space-between;
}

.contact-logo{
  margin:  auto auto;
}

.contact-logo i {
  font-size: var(--step-4);
  color: #CCECF1;
}

.screen-body-item.left {
  width: 30%;
  display: flex;

  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color:#CCECF1 ;
  font-size: 26px;

}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #CCECF1;
}

.app-contact {
  margin-top: auto;
  font-size: var(--step--2);
  color: #888;
  
}

.app-form-group {
  margin-bottom: 15px;
display: flex;
justify-content: space-between;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
  margin-top: 2em;
 
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #CCECF1;
 font-size: var(--step--2);
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #fff;
}




@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


nav {
  z-index: 99;
  position: sticky !important;
  position: -webkit-sticky;
  top: 0 !important;
  background-color: rgb(255, 255, 255);
  width:min(90%,1200px);
  margin-inline: auto;
  display: flex;
  justify-content: center;

}
.nav-logo{
 width: 8.5rem;
 height: 5rem;
position: absolute;
left: 0;

top: 0;
margin-left: 30px;
transform: rotate(-12deg);
}
nav .container {
 width: 100%;
  margin-inline: auto;
  position: relative;
  margin: .5em auto;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}




nav .container .container-logo p {

  letter-spacing: 3px;
  margin-left: .5rem;
}


nav .container ul{
  margin: auto 0;
}
nav .container ul li {
  display: inline-block;
  font-size: var(--step-1);
}

nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-size: var(--step--1);
}

nav .container ul li.active-home {
  background-color: #BAD894;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

nav .container ul li.active-home a {
  color: rgb(255, 255, 255);
}

nav .container ul li.active-about {
  background-color: #FAE276;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

nav .container ul li.active-about a {
  color: rgb(255, 255, 255);
}

nav .container ul li.active-services {
  background-color: #8d8e94;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

nav .container ul li.active-services a {
  color: rgb(255, 255, 255);
}

nav .container ul li.active-contact {
  background-color:#CCECF1 ;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

nav .container ul li.active-contact a {
  color: rgb(255, 255, 255);
}

nav .container a {
  display: none;
}










.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;

 
}
.footer{
  background: rgb(34, 34, 33);
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .footer-links {
  padding-left: 0;
  list-style: none;
}

.site-footer .footer-links li {
  display: block;
}

.site-footer .footer-links a {
  color: #737373;
}

.site-footer .footer-links a:active, .site-footer .footer-links a:focus, .site-footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .footer-links .inline li {
  display: inline-block;
}

.site-footer .social-icons text-align:right
a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.site-footer .copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {

  nav {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    display: block;
    width: 100%;
  }
  nav .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding-left: 0;
  }
  nav .container .container-logo {
    display: none;
  }
  nav .container ul {
    display: block;
    padding: 0;
  }
  nav .container ul li {
    display: none;
  }
  nav .container ul li.active {
    display: block;
    width: 250px;
    border-radius: 0 10px 10px 0;
  }
  nav .container a {
    display: block;
    color: black;
    font-size: 1.25rem;
  }
  nav .container a i {
    position: absolute;
    top: 23px;
    right: 15px;
  }
  .container.responsive li {
    float: none;
    display: block;
    text-align: left;
  }



.sec{
  width: 100%;

}

.sec .hero-container , .services-container , .about-container , .contact-container {
width: 90%;

}




}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 500px) {



  .hero-container{
   
    flex-direction: column;
   

  }

  .nav-logo{
    display: none;
  }



.hero-container .hero-text h1{
  width: 100%;
  text-align: left;
}
 .hero-text h1 ,a{
display: block;

 }


.hero-container .hero-details{
 position: static;
}
.hero-container .hero-details p{
  position: static;
 }



 .hero-container .unit{
 
  display: flex;
  justify-content: center;
  }
  

.services-container{
   display: flex;
   flex-direction:column ;
   width: 100%;
}

.services-container .service-tag .pricing p{
  font-size: var(--step-0);
}

.services-container .service-tag ul li p{
font-size: var(--step-0);
}


.about-container{
  
flex-direction: column;
justify-content: center;
justify-content: center;
  
  }

 .about-container .about-logo{
    display: flex;
    flex-direction: column;
justify-content: center;
    

 }
 .about-container .about-logo img{
margin: 0 auto;
  margin-bottom: 1em;

}

.mapouter{
  margin: 0 auto;
  margin-bottom: 1em;
  width: 110%;
}
.contact-container{
 
  flex-direction: column;
  gap: 1em;
  justify-content: center;
 
}


.me{
 flex: 1;
  margin-bottom: 2em;
 gap: 1em;
}
.social i {
  display: flex;
  align-items: center;
padding-bottom: 1em;

}
.social h2 {
  font-size: var(--step-4);
  margin-bottom: 2rem;
}
.app-title span{
  font-size: var(--step-2);


}
.me .social i {
  font-size: var(--step-4);
}

.me .social i  a{
  font-size: var(--step-0);
}

.background{
  width: 100%;
  height: 80%;
}
.contact-box{
  width: 100%;
}
.screen{
  width: 100%;
}



contact-container .me .social{
  height:auto;
}
.sec{
  padding: 2em 0;
}

.screen-body-item.left {
  width: 100%;
 justify-content: center;
}
.screen-body-item{
  justify-content: center;
}
.app-title{
  margin: 0 auto;
}
.screen-body-item {
  width: 100%;
}
.app-form-button{
  font-size: var(--step-0);
}


.service-tag{
  padding: 1em;
}
nav .container ul li a , .hamburger{
 
  font-size: var(--step-2);
}

}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 



 .sec{
height: 100%;

}

 