@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body ,html {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  scroll-behavior: smooth;
  width: 100%;
padding: 0;
margin: 0;
}


#home {
  background-color: #BAD894;
}
#about {
  background-color: #f0cdf7;
}

#contact {
  background-color: rgb(214, 212, 212);
}
#services {
  background-color: #8d8e94;
}


.title{
 

position: absolute;
left: 1rem;

  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}   






section{
  height: 100vh;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% auto;
position: relative;

}



.hero-container{
  width: 60%;
  display: flex;
justify-content: space-between;
justify-content: center;
position: relative;
gap: 1em;








.hero-text{

  width: 60%;

h1{
  width: 70%;
}

  a{
    font-size: 1rem;

   
    color:#BAD894;
    text-decoration: none;
  }




  .btn{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
padding: 1em ;
    width: 200px;
    border: 0;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow:inset -8px 0 8px rgba(0,0,0,0.15),
    inset 0 -5px 8px rgba(0,0,0,0.25),
     0 0 0 2px rgba(0,0,0,0.75),
    10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;
    cursor: pointer;




    i{
      position: relative;
      color:#BAD894;
      font-style: normal;
      font-weight: 600;
      
    }

  }


  .btn::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.25),
    10px 5px 10px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;

  }
}

 

.hero-details{
  flex: 1;
}


}
         


  .services-section{
    padding: 1em 0px;
    position: relative;

display: flex;
justify-content: center;



    .services-container > div{
      border: 1px solid hotpink;
     
    
   width: 25%;
   height: 100px;
    }

    .services-container{
      width: 90%;
      display: flex;
      justify-content: space-around;
      justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    padding: 1em 0;
   
    
    
     }

   

  
      
      
      }
      
    


 
 



// navbar
nav {
  z-index: 99;
  position: sticky!important;
position: -webkit-sticky;
  top: 0!important;
  background-color: white;
width: 100%;


        .container {
          width: 90%;
          max-width: 1000px;
          margin: auto auto;
          text-align: center;
          padding: 10px;
          display: flex;
            justify-content: space-between;
            align-items: center;

.container-logo{
  display: flex;
 align-items: center;
 justify-content: center;


            .logo{
              background-image: url(image/hero-img/logo.png);
              background-repeat: no-repeat;
              background-size: contain;
              width: 150px;
              height: 50px;
             
                }

                p{
                 
                  font-size: .75rem;
                  letter-spacing: 3px;
                  margin-left: .5rem;
              
                 
                }
                }

              ul{

                li {
                  display: inline-block;



                  a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 10px 20px;
                    color: black;
                }


               


              }


              li.active-home {
                background-color:#BAD894 ;
                transition: 0.3s ease background-color;
              
                
 a {
  color: rgb(255, 255, 255);


 
}

              }



              li.active-about {
                background-color:#F0CDF7 ;
                transition: 0.3s ease background-color;
              
                
 a {
  color: rgb(255, 255, 255);


 
}

              }


              li.active-services {
                background-color:#8d8e94;
                transition: 0.3s ease background-color;
              
                
 a {
  color: rgb(255, 255, 255);


 
}

              }

              li.active-contact {
                background-color:#9BE2D0;
                transition: 0.3s ease background-color;
              
                
 a {
  color: rgb(255, 255, 255);


 
}

              }







                              
        }



        a{
          display: none;
        }
}



}





.about-section{
  display: flex;
  flex-direction: column;
  position: relative;
  .about-logo{
display: flex;
margin-right: auto;
width: 20%;

position: absolute;
top: 20px;
img{
  width: 100%;
}
  
  }
  .about-container{
    display: flex;
    width: 90%;
      justify-content: space-around;
      gap: 3em;
  
 
    .lorem{
      
      text-align: justify;
      width: 500px;
    }


    .about-details{
      width: 500px;
text-align: justify;
    }
  }
}


.contact-section{
  display: flex;
  position: relative;

.contact-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
width: 90%;
height: 100%;

.contact-pic{

background:url(contact-picture.png);

background-repeat: no-repeat;
background-size: cover;
width: 30%;
height: 100%;
}
.contact-form{
  width: 30%;
 text-align: justify;

 
}



}

}


.site-footer
{
 
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

  hr
{
  border-top-color:#bbb;
  opacity:0.5
}


hr.small
{
  margin:20px 0
}


h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
a
{
  color:#737373;
}
a:hover
{
  color:#3366cc;
  text-decoration:none;
}

      .footer-links
      {
        padding-left:0;
        list-style:none;
        li
      {
        display:block
      }

      a
      {
        color:#737373
      }
      a:active , a:focus ,a:hover{
        color:#3366cc;
        text-decoration:none;
      }
      .inline li{
        display:inline-block
      }
      }
      
      
.social-icons
{
  text-align:right
  a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
}
.copyright-text
{
  margin:0
}
}







@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}








@media only screen and (max-width : 600px) {

.services-section{
  overflow: scroll;
height: auto;
.services-container > div{
width: 90%;
}

.services-container{
  overflow: scroll;
}

.services-section{
  flex-direction: column;
 flex: 1;
  width: 100%;
}

}
// nav responsive


nav{
  position: sticky!important;
  top: 0!important;
display: block;





 .container{
 
   width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  padding-left: 0;
  .container-logo{
    display: none;
  }


   ul{  
  
display: block;

           li{
           display: none;
           }
  
            li.active{
             display: block;
                width: 250px;
                border-radius: 0 10px 10px 0;
              
              
              

            }


       
      }
        a{
          display: block;
          color: black;
          font-size: 1.25rem;


          i{
position: absolute;
top: 23px;
right: 15px;
    
          }
        }


       }



     



     }





     .container.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
        
   
 


  .hero-section{
    display: flex;
    
  justify-content: center;
  align-items: center;
    position: relative;
    z-index: 88;

 
.hero-container{


  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
justify-content: space-around;


flex-direction: column;
gap: 1em;



  .hero-text{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;



width: 100%;


h1{
  width: 100%;
}

  }
.hero-details{
  width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}



  

}


  }
  }







